.advantage {
    margin-top: 94px;
    min-height: 101px;
    display: flex;
    flex-wrap: wrap;
    h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }
    &__list {
        display: flex;
    }
    &__items:not(:nth-child(4n+1)) {
        margin-left: 30px;
    }
    &__items:not(:nth-child(-n+4)) {
        margin-top: 50px;
    }
    &__items {
        max-width: 270px;
        min-height: 75px;
    }
    &__items::before {
        display: block;
        content: '';
        background-color: $portfolio-color;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;    
        background-repeat: no-repeat;
        background-position: center;
    }
    &__items-descr {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }
    .antenna::before {
        background-image: url(../../icons/antenna.svg);
    }
    .clock::before {
        background-image: url(../../icons/clock.svg);
    }
    .diagram::before {
        background-image: url(../../icons/diagram.svg);
    }
    .astronaut::before {
        background-image: url(../../icons/astronaut.svg);
    }
}

