//Mobile First

.header {
    padding: 16px 0;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    //Logotip
    &__logo {
        display: flex;
        align-items: center;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        font-size: 26px;
        color: #000000;
        &:hover {
            color: $main-color;
        }
        .logo_blue {
            color: $main-color;
            font-family: 'Raleway-Bold';
            font-weight: 700;
        }
    }

    //Navigation menu
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__menu-container {
        display: none;
    }
}

//Burger menu
.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block !important;
}

.menu-button.is-open .icon-menu {
    display: none;
}

//todo TABLET
@media screen and (min-width: 768px) {
    .header {
        padding: 21px 0;
    &__logo {
        margin-right: 68px;
    } 
    &__menu-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__menu {
        display: flex;
        align-items: center;    
    }
    &__menu-list {
        display: flex;
        align-items: center;
    }

    &__menu-item:not(:first-child) {
        margin-left: 50px;
    }

    &__menu-info {
        display: flex;
        font-family: 'Roboto-Medium';
        font-weight: 500;
        font-size: 14px;
        color: $black-color;
        &:focus {
            color: $main-color;
        }
    }  
    .current{
        position: relative;
    }
    .current::after {
        display: block;
        position: absolute;
        content: '';
        background-color: $main-color;
        bottom: -33px;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        color: $main-color;
    }
    //contacts and email
    &__contacts-list {
        display: block;
        margin-left: 54px;
    }
    &__contacts-info {
        font-family: 'Roboto-Medium';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #757575;
    }
    &__contacts-item {
        display: flex;
        align-items: center;
        vertical-align: middle;
    }
    &__icon {
        margin-right: 10px;
        width: 17px;
        height: 15px;
        fill: #757575;
        vertical-align: middle;
    }
    &__contacts-item:hover &__icon{
        fill: $main-color;
    }
    &__contacts-item:hover &__contacts-info{
        color: $main-color;
    }
}
}

//todo DESKTOP
@media screen and (min-width: 1200px) {
    .header {
        padding: 24px 0;
        border: 1px solid #ECECEC;
        background-color: #FFFFFF;
    
        //Logotip
        &__logo {
            font-family: 'Raleway-Bold';
            margin-right: 94px;
            font-weight: 700;
            font-size: 26px;
            color: #000000;
            &:hover {
                color: $main-color;
            }
            .logo_blue {
                color: $main-color;
                font-family: 'Raleway-Bold';
                font-weight: 700;
            }
        }
        &__menu-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &__menu {
            display: flex;
            align-items: center;
        }
        &__menu-list {
            display: flex;
            align-items: center;
        }
    
        &__menu-item:not(:first-child) {
            margin-left: 50px;
        }
    
        &__menu-info {
            display: flex;
            font-family: 'Roboto-Medium';
            font-weight: 500;
            font-size: 14px;
            color: $black-color;
            &:focus {
                color: $main-color;
            }
        }  
        .current{
            position: relative;
        }
        .current::after {
            display: block;
            position: absolute;
            content: '';
            background-color: $main-color;
            bottom: -24px;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            color: $main-color;
        }
        //contacts and email
        &__contacts-list {
            display: flex;
        }
        &__contacts-info {
            font-family: 'Roboto-Medium';
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #757575;
        }
        &__contacts-item:not(:last-child) {
            margin-right: 30px;
        }
        &__contacts-item {
            display: flex;
            align-items: center;
            vertical-align: middle;
        }
        &__icon {
            margin-right: 10px;
            width: 17px;
            height: 15px;
            fill: #757575;
            vertical-align: middle;
        }
        &__contacts-item:hover &__icon{
            fill: $main-color;
        }
        &__contacts-item:hover &__contacts-info{
            color: $main-color;
        }
    }
}



// .header {
//     padding: 24px 0;
//     border: 1px solid #ECECEC;
//     background-color: #FFFFFF;

//     //Logotip
//     &__logo {
//         font-family: 'Raleway-Bold';
//         margin-right: 94px;
//         font-weight: 700;
//         font-size: 26px;
//         color: #000000;
//         &:hover {
//             color: $main-color;
//         }
//         .logo_blue {
//             color: $main-color;
//             font-family: 'Raleway-Bold';
//             font-weight: 700;
//         }
//     }

//     //Navigation menu
//     &__wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
//     &__menu {
//         display: flex;
//         align-items: center;
//     }
//     &__menu-list {
//         display: flex;
//         align-items: center;
//     }

//     &__menu-item:not(:first-child) {
//         margin-left: 50px;
//     }

//     &__menu-info {
//         display: flex;
//         font-family: 'Roboto-Medium';
//         font-weight: 500;
//         font-size: 14px;
//         color: $black-color;
//         &:focus {
//             color: $main-color;
//         }
//     }  
//     .current{
//         position: relative;
//     }
//     .current::after {
//         display: block;
//         position: absolute;
//         content: '';
//         background-color: $main-color;
//         bottom: -24px;
//         height: 4px;
//         width: 100%;
//         border-radius: 2px;
//         color: $main-color;
//     }
//     //contacts and email
//     &__contacts-list {
//         display: flex;
//     }
//     &__contacts-info {
//         font-family: 'Roboto-Medium';
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 16px;
//         color: #757575;
//     }
//     &__contacts-item:not(:last-child) {
//         margin-right: 30px;
//     }
//     &__contacts-item {
//         display: flex;
//         align-items: center;
//         vertical-align: middle;
//     }
//     &__icon {
//         margin-right: 10px;
//         width: 17px;
//         height: 15px;
//         fill: #757575;
//         vertical-align: middle;
//     }
//     &__contacts-item:hover &__icon{
//         fill: $main-color;
//     }
//     &__contacts-item:hover &__contacts-info{
//         color: $main-color;
//     }
// }







